body {
  background-color: lightsteelblue;
}

header h1 {
  display: inline;
  padding: 0;
  margin: 0;
}

#sidebar .current-user {
  text-align: center;
  color: white;
}

#sidebar .current-user p {
  padding: 0;
  margin: 0;
}

.current-user {
  margin-bottom: 25px;
}


.all.container {
  padding: 0 50px;
  height: 100%;
  background-color: #4d4d4d;
  opacity: .93;
}

#main-nav ul {
  text-align: right;
}

#main-nav ul li{
  display: inline;
  color: white;
}
#main-nav a{
  display: inline;
  color: white;
}

ul.feeds li .active {
  font-weight: 900;
}


nav#feed-lists ul, nav#feed-lists li {
  padding: 0;
  margin: 0;
}


nav#feed-lists li.feeds-run {
  background-color: lightblue;
  border: 1px solid;
  text-align: center;
  height: 50px;
}

#sidebar {
  height: 100%;
}

.feed-item {
  background-color: lightgray;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px;
}

.feed-expander {
  cursor: pointer;
  text-align: center
}

.run-info-label {
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: 900;
}

.run-info ul, .run-info li {
  padding: 0;
}

.run-info li {
  list-style: none;
}

.route-map-mini img {
  padding: 0;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 5%;
}
.user-photo {
  width: 200px;
  height: 200px;
  border: solid green 1px
}
.user-photo-thumbnail {
  width: 40px;
  height: 40px;
  border: solid green 1px
}
#top-nav {
  width:;
}



