body {
  background-color: grey;
}

header h1 {
  display: inline;
  padding: 0;
  margin: 0;
}

#sidebar .current-user {
  text-align: center;
  color: white;
}

#sidebar .current-user p {
  padding: 0;
  margin: 0;
}

.current-user {
  margin-bottom: 25px;
}


.all.container {
  padding: 0 50px;
  height: 100%;
}

#main-nav ul {
  text-align: right;
}

#main-nav ul li{
  display: inline;
}

ul.feeds li .active {
  font-weight: 900;
}


nav#feed-lists ul, nav#feed-lists li {
  padding: 0;
  margin: 0;
}


nav#feed-lists li.feeds-run {
  background-color: #7A7FBD;
  border: 1px solid;
}

#sidebar {
  height: 100%;
}

.feed-item {
  background-color: purple;
  margin-bottom: 10px;
}

.feed-expander {
  cursor: pointer;
}

.run-info-label {
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: 900;
}

.run-info ul, .run-info li {
  margin: 0;
  padding: 0;
}

.run-info li {
  list-style: none;
}

.route-map-mini img {
  padding: 0;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}


